

.App {
  font-family: Helvetica, sans-serif;
}

.bigmap {
    border: 0;
    margin-top: 15px;
}

.hero-image {
  height: 80vh; 
  width: 100vw; 
  object-fit: cover; 
}

.hero-text h1{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  text-align: left;
  color: white; 
}

.hero-text p{
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 1.5vw;
  text-align: left;
  color: white; 
  width: 30%;
}

.UniName {
  font-weight: bold;
  cursor: pointer;
  color: darkslategray;
}

.body {
  text-align: center;
}

.checklist {
  float: left;
  text-align: left;
  margin: 1.5vw;
  margin-top: 4vw;
}

#gallery {
  float: left;
  margin-left: 20vw;
  text-align: left;
}


